import { defineConfig } from 'vite'

export default defineConfig({
  server: {
    proxy: {
      '/api': {
        target: '{{.APIBaseURL}}',
        changeOrigin: true,
      },
      '/auth': {
        target: '{{.APIBaseURL}}',
        changeOrigin: true,
      },
      '/events': {
        target: '{{.APIBaseURL}}',
        changeOrigin: true,
      },
      '/ws': {
        target: '{{.APIBaseURL}}',
        changeOrigin: true,
        ws: true,
      },
      '/health': {
        target: '{{.APIBaseURL}}',
        changeOrigin: true,
      },
      '/ready': {
        target: '{{.APIBaseURL}}',
        changeOrigin: true,
      },
    },
  },
})
